body {
    background-color: slateblue;
    color: whitesmoke;
}

.yellow {
    color: yellow;
}

#img-div {
    height: auto;
    width: 600px;
}

#image {
    max-width: 480px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#img-caption {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bio {
    max-width: 600px;
}

